if TARGET_K230_EVB

    config SYS_CPU
        default "k230"

    config SYS_VENDOR
        default "kendryte"

    config SYS_BOARD
        default "k230_evb"

    config SYS_CONFIG_NAME
        default "k230_common"

    config BOARD_SPECIFIC_OPTIONS
        def_bool y
        select KENDRYTE_K230

    choice
        prompt "DDR Type And Frequency"
        default EVB_LPDDR3_2133

        config EVB_LPDDR3_2133
            bool "k230 evb lpddr3 2133"    
    endchoice
endif
